// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    img{

        height: 200px;
        object-fit: contain;
    }
}

.table{
    text-align: center;
    width: 100%;
    margin-top: 30px;
}
